<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    
</head>
<body>
    <div class="post-create">
                <textarea id="caption" name="caption" placeholder="Create a post ..."></textarea>
        <div class="image-icon-group" >
            <div class="image-icon-post">
            <img class ="image upload-icon" src="{% static 'image.png' %}" href="{% url 'web_app:image_request'%}"></img>
            </div>
            <input type="file" id="file-input" style="display: none;" accept="image/*">

        <button type="submit" class="post-btn" >Post</button>
        </div>

    </div>
    <script>
        function openFileExplorer() {
            // Trigger click event on the file input element
            document.getElementById('file-input').click();
        }
    </script>
    
    </body>
</html>
