<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    
</head>
<body>
    <div class="post-create">
                <textarea id="caption" name="caption" placeholder="Create a post ..."></textarea>

        <div class="image-icon-group" >
            <div class="image-icon-post">
        <button type="submit">
            <img src="{% static 'image.png' %}" href="{% url 'web_app:upload_image' %}"><input type="file"></img>
        </button>
            </div>
        <button type="submit" class="post-btn" href="{% url 'web_app:post' %}">Post</button>
        </div>
    </div>
    
    </body>
</html>
