

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'toggle.html' %}
    {% include 'home_page.html' %}
    

    <!-- {% include 'image.html' %} -->
   
    
    {% include 'left_side_profilebar.html' %}
    {% include 'right_side_profilebar.html' %}

    <div>


        
        
        <form method="POST" action="{% url 'web_app:login'%}">
            <div>
            </div>
        </form>
    </div>
</body>
</html>
