{% load static %}
<style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #3b5998;
      padding: 10px;
    }
    
    .topnav a {
      color: #fff; 
      text-decoration: none;
      font-size: 17px;
      padding: 10px 20px;
    }
    
    .topnav a:hover {
      background-color: #4267B2;
    }
    
    .topnav input[type="text"] {
      padding: 8px;
      border-radius: 5px;
      border: none;
      width: 250px;
    }
    
    .setting-icon {
      padding: 10px;
    }
    
    .menu {
      width: 35px;
      height: 5px;
      background-color: #fff; 
      margin: 6px 0;
    }
    
    .setting-icon:hover .menu {
      background-color: #bbb;
    }
    
    .psychomedia {
      display: flex;
      align-items: center;
    }
    
    .psychomedia img {
      width: 40px; 
      margin-right: 10px;
    }

    .psychomedia icon-media{
        width: 10px;
    }

    </style>
    
    <div class="topnav">
      <div class="psychomedia">
        <img src="{% static 'media/media.jpeg'%}" class="icon-media" alt="Psycho Media Icon">
        <span style="color: white;">Psycho Media</span>
      </div>
      <input type="text" placeholder="Search">
      <div class="setting-icon">
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
      </div>
    </div>
    