<!-- {% extends "home_page.html" %} -->

 {% load static %}


<link href="{% static 'generic.css' %}" rel="stylesheet">

{% block content %}
<h1>{{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
<img src="{{ user_profile.profile_pic.url }}" alt="Profile Picture">

<form method="post" action="{% url 'post' user_profile.first_name user_profile.last_name %}">
  {% csrf_token %}
  <input type="text" name="comment" placeholder="Your comment here...">
  <button type="submit">Submit Comment</button>
</form>

{% for feed in feeds %}
  <p><strong>{{ feed.user.username }}:</strong> {{ feed.comment }}</p>
{% endfor %}
{% endblock %}
