body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 75vh;
}

.container {
    max-width: 1000px; /* Maximum width of 1000px */
    width: 50%; /* Adjust as needed */
    margin: 150px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form {
    text-align: center;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #1877f2;
    position: relative;
}

.register-form h2::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000; 
}

.register-form h1 {
    margin-left: 40px;
    color: rgb(green, red, blue);
    background: url('/static/media/media.jpg'); 
    background-size: cover;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #1153b5; 
}
