/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Login Page Styles */
.login-form {
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #1877f2;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    font-weight: bold;
}

.login-form input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-btn {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #1153b5;
}

.signup-link {
    color: #1877f2;
}

/* Register Page Styles */
.register-form {
    text-align: center;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #1877f2;
}

.register-form .form-group {
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    font-weight: bold;
}

.register-form input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-btn {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-btn:hover {
    background-color: #36821d;
}

.login-btn {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #1153b5;
}
